.sec-accessmap {
    margin-bottom: 80px;
    &__thumb {
        img {
            display: block;
            margin: 0 auto;
        }
    }
    .button {
        text-align: center;
        margin-top: 93px;
        margin-bottom: 33px;
        @media (max-width: 767px) {
            margin-top: vw(140, 750);
            margin-bottom: vw(40, 750);
        }
        a {
            width: 285px;
            @media (max-width: 767px) {
                width: vw(610, 750);
            }
        }
    }
    .sec-accessmap__main {
        position: relative;
        padding-bottom: 31.25%;
        height: 0;
        overflow: hidden;
        @media (max-width: 767px) {
            padding-bottom: 80.53%;
        }
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.sec-traffic {
    &__content {
        background-color: #f5efe4;
        border-radius: 30px;
        .sec__title--small {
            color: #be724a;
        }
    }
    &__list {
        &__item {
            text-align: center;
            border: 1px dashed #be724a;
        }
        h4 {
            font-weight: bold;
            color: #5f4731;
            border-bottom: 1px solid #b8afa8;
        }
    }
    &__thumb {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.item-access {
    &__thumb {
        position: relative;
    }
    &__content {
        .desc {
            text-align: justify;
        }
    }
}

@media (min-width: 768px) {
    .sec-accessmap {
        img {
            max-width: 60%;
        }
    }

    .sec-traffic {
        .sec__title--small {
            font-size: 30px;
            margin-bottom: 26px;
        }
        &__list {
            &__item {
                width: calc((100% - 48px) / 3);
                border-radius: 30px;
                padding: 21px 3%;
                &:not(:last-child) {
                    margin-right: 24px;
                }
            }
            h4 {
                font-size: 18px;
                line-height: (30/18);
                padding-bottom: 4px;
                margin-bottom: 12px;
                letter-spacing: 2px;
            }
        }
        &__thumb {
            margin-bottom: 5px;
            img {
                width: auto;
                max-height: 100%;
            }
        }
        &__info {
            letter-spacing: 1.6px;
            line-height: 1.9;
        }
    }

    .sec-courtyard {
        .sec__title {
            margin-bottom: 61px;
        }
        .map-info__text {
            letter-spacing: 1.6px;
            line-height: 1.9;
        }
    }

    .item-access {
        &__thumb {
            margin-bottom: 14px;
        }
        &__content {
            line-height: (30/16);
            letter-spacing: 1.8px;
            .desc {
                margin-right: 10px;
            }
        }
    }

    .sec-list__items {
        &__access {
            .col-md-4 {
                &:nth-child(n + 4) {
                    margin-top: 32px;
                }
            }
        }
    }
}

@media ( min-width: 992px ) {
    .sec-traffic {
        &__content {
            padding: 35px 6.5% 45px;
        }
        &__thumb {
            height: 62px;
        }
        &__list {
            h4 {
                font-size: 18px;
            }
        }
    }
}

@media ( max-width: 991px ) and ( min-width: 768px ) {
    .sec-traffic {
        &__content {
            padding: 35px 5% 40px;
        }
        &__thumb {
            height: 48px;
        }
        &__list {
            font-size: 15px;
        }
    }
}

@media (max-width: 767px) {
    .sec-traffic {
        &__content {
            padding: vw(55, 850) vw(95, 750) vw(70, 750);
        }
        &__list {
            &__item {
                width: 100%;
                padding: vw(40, 750) vw(50, 750);
                border-radius: vw(30, 750);
                &:not(:last-child) {
                    margin-bottom: vw(40, 750);
                }
            }
        }
        &__thumb {
            margin-bottom: 15px;
        }
        &__info {
            letter-spacing: vw(1.3, 750);
            h4 {
                padding-bottom: vw(10, 750);
                margin-bottom: vw(25, 750);
            }
        }
    }
    
    .item-access {
        &__thumb {
            margin-bottom: vw(30, 750);
        }
        &__content {
            line-height: (30/16);
            letter-spacing: vw(2.3, 750);
        }
    }

    .sec-list__items {
        &__access {
            .col-md-4 {
                &:not(:last-child) {
                    margin-bottom: vw(140, 750);
                }
            }
        }
    }
}

.sec-courtyard {
    dl {
        dt {
            clear: left;
            float: left;
            color: #be724a;
            &:first-child {
                padding-top: 0;
            }
        }
        dd {
            border-bottom: 1px solid #454443;
            &:nth-child(2) {
                padding-top: 0;
            }
            a {
                color: #454443;
            }
        }
    }
}

@media (min-width: 768px) {
    .sec-courtyard {
        dl {
            dt {
                margin: 0;
                padding: 15px 10px 15px 3px;
                &:first-child {
                    padding-top: 0;
                }
            }
            dd {
                padding: 15px 0;
                &:nth-child(2) {
                    padding-top: 0;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .sec-courtyard {
        dl {
            dt {
                width: 100px;
                + dd {
                    padding-left: 100px;
                }
            }
        }
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .sec-traffic {
        &__list {
            font-size: 14px;
            h4 {
                font-size: 16px;
            }
        }
    }
    .sec-courtyard {
        dl {
            dt {
                width: 80px;
                + dd {
                    padding-left: 80px;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .sec-courtyard {
        dl {
            letter-spacing: vw(1.8, 750);
            dt {
                width: vw(150, 750);
                padding: vw(25, 750) 0;
                + dd {
                    padding-left: vw(150, 750);
                }
            }
            dd {
                padding: vw(25, 750) 0;
            }
        }
    }
}
