.sec-news {
  .sec-news-scroll {
    overflow-y: auto;
    max-height: 185px;
    .mCSB_container {
      padding-right: 9.5%;
    }
    dt {
      margin-bottom: 5px;
    }
    dd {
      padding-bottom: 11px;
      margin-bottom: 11px;
      border-bottom: 1px solid #454443;
      a {
        text-decoration: none;
        color: #454443;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

.sec-worktime {
  .worktime-logo {
    background-color: #f5efe4;
    border-radius: 20px;
    padding: 25px;
    margin-bottom: 15px;
  }
  .tel {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      color: #be724a;
      font-size: 30px;
      text-decoration: none;
      letter-spacing: 1px;
      img {
        margin-right: 10px;
      }
    }
  }
  .info {
    max-width: 480px;
    margin: 25px auto 0;
    display: flex;
    justify-content: space-between;
  }
}

.sec-calendar {
  .row {
    &:not(:last-child) {
      margin-bottom: 38px;
    }
  }
  h2 {
    margin-bottom: 60px;
  }
  h3 {
    font-size: 24px;
    color: #454443;
    text-align: center;
    margin-bottom: 20px;
  }
  .calendar-info__item {
    position: relative;
    background: url('../images/sec-calendar_bg001.png');
    border-radius: 20px;
    padding: 15px 5%;
    color: #4e3423;
    letter-spacing: 1px;
    z-index: 1;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    &:after {
      content: '';
      position: absolute;
      left: 5px;
      right: 5px;
      top: 5px;
      bottom: 5px;
      border: 1px dashed #fff;
      border-radius: 20px;
      z-index: -1;
    }
    h4 {
      text-align: center;
      font-size: 22px;
      margin-bottom: 10px;
      font-weight: bold;
      line-height: (30/22);
      color: #4e3423;
    }
  }
  .item-tel {
    background-color: #ddd3c3;
    display: table;
    border-radius: 34px;
    padding: 10px 25px;
    margin: 0 auto 10px;
    color: #be724a;
    line-height: 1;
    .tel {
      margin-top: 5px;
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        color: #be724a;
        font-size: 28px;
        text-decoration: none;
        letter-spacing: 2px;
        img {
          margin-right: 10px;
        }
      }
    }
  }
  .qr-wrap {
    display: flex;
    margin-top: 15px;
    &__text {
      width: 61%;
      margin-right: 10%;
    }
  }

  .social {
    a {
      position: relative;
      display: block;
      background: url('../images/social_bg001.png');
      border-radius: 20px;
      padding: 30px 32px;
      text-align: center;
      color: #5f4731;
      font-weight: bold;
      font-size: 22px;
      text-decoration: none;
      transition: 0.3s;
      img {
        position: absolute;
        left: 32px;
        top: 50%;
        transform: translateY(-50%);
      }
      &:hover {
        opacity: 0.6;
      }
    }
  }
}
